<form [formGroup]="fg" (ngSubmit)="guardar(
								fg.controls['nombre'].value,
								fg.controls['imagenUrl'].value
					)">
    <h3 class="mb-0">WishList (form-destino-viaje)</h3>

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <!-- <div *ngIf="!fg.controls['nombre'].valid">Nombre invalido!</div> -->
        <div style="color: red;" *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido!</div>
        <div style="color: red;" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido!</div>
        <div style="color: red;" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minlongitud}} de largo!</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen	Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['imagenUrl']">
        <div style="color: red;" *ngIf="fg.controls['imagenUrl'].hasError('required')">Url requerida!</div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>


</form>