<div class="card" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img ">
        <img src="https://placeimg.com/380/230/nature " alt=" ">
        <span><h4>{{ position }}</h4></span>
    </div>
    <div class="card-body">
        <h3>{{ destino.nombre }}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'Desayuno'" style="color: red;"> {{s}}</i>  
                    <i *ngSwitchDefault> {{s}}</i>         
                </span>
            </li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-4"><a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a></div>
                <div class="col-4"><a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a></div>
                <div class="col-4"><a href="#" (click)="voteReset()"><i class="material-icons md-18">restore</i></a> {{destino.votes}}</div>
            </div>
            <div class="row">
                <div class="col-6"><a href="#" class="btn btn-success" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Seleccionar</a></div>
                <div class="col-6"><a href="#" class="btn btn-success" (click)="eliminar()">Eliminar</a></div>
            </div>
        </div>
    </div>
    <div class="card-footer">

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h6> <span *ngIf="destino.isSelected()"> 
                    <span ngNonBindable> {{Preferido}} !!</span>
                        </span>
                    </h6>
                </div>
                <div class="col-4"><a [routerLink]="['/destino', destino.id]">Ir al detalle!</a></div>
            </div>
        </div>


    </div>
</div>